{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <title>👋🏽 welcome</title>
      <link rel="stylesheet" type="text/css" href="{% static 'login/css/styles.css' %}">
      <script src="{% static 'booking/script.js' %}"></script>
  </head>

  <body>
    <div class="flex-container">

      <div class="main-section-container">
  
        <h2 class="main-header">👋🏽 Bienvenido </h2>
  
        <form method="post">
          {% csrf_token %}
          <div class="form-container">
            <label class='form-text'>{{neighbor.name}}</label>
            <label class='form-text'>{{neighbor.apartment}}</label>
            <label class='form-text'>{{neighbor.email}}</label>
            <label class='form-text'>{{neighbor.phone}}</label>
          </div>
        </form>
      
        <div class="form-row">
          <button type="submit" name="action" value="edit" class="button-edit"> EDITAR </button>
        </div>
      </div>
  
      <div class="main-section-container">
        <h2 class="main-header">📝 Tus reservas </h2>
  
        <form method="post">
          {% csrf_token %}
          <div class="form-container">
              <label class='form-text'>MÁQUINA : {{ booking.machine.id }}</label>
              <label class='form-text'>BLOQUE : {{booking.slot}}</label>
          </div>
  
          <div class="form-row">
            <button type="submit" name="action" value="cancel" class="button-edit">CANCELAR</button>
          </div>
        </form>
      
  
      </div>
  
      <div class="main-section-container">
        <h2 class="main-header">Agenda una máquina</h2>
  
        <form method="post">
          {% csrf_token %}
          <div class="form-container">    
            <div class="form-row">
              <label class='form-text' for="slot">Qué máquina?:</label>
              <select name="machine" id="machine" required>
                {% for m  in machine%}<option>{{ m }}</option>{% endfor %}
              </select>
            </div>
            
            <div class="form-row">
              <label class='form-text' for="slot">Qué bloque?:</label>
              <select name="slot" id="slot" required> <!-- JavaScript --> </select>
            </div>
          </div>
  
          <div class="form-row">
            <button type="submit" name="action" value="book" class="button-edit">AGENDAR</button>
          </div>
        </form>
      </div>
  
      <div class="main-section-container">
        <h2 class="main-header">⚠️ Reporta un problema </h2>
  
        <form method="post">
          {% csrf_token %}
          <div class="form-container">
          </div>
        </form>
  
        <form method="post">
          {% csrf_token %}
  
          <div class="form-row">
            <button type="submit" name="action" value="logout" class="button-edit">SALIR</button>
          </div>
        </form>
      </div>
    </div>
  </body>
  
</html>