{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <title>👋🏽 welcome</title>
      <link rel="stylesheet" type="text/css" href="{% static 'login/css/styles.css' %}">
      <script src="{% static 'booking/script.js' %}"></script>
  </head>

    <h2>👋🏽 Bienvenido </h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-container">
        <label>{{neighbor.name}}</label>
        <label>{{neighbor.apartment}}</label>
        <label>{{neighbor.email}}</label>
        <label>{{neighbor.phone}}</label>
        <div class="form-row">
          <button type="submit" name="action" value="edit"> editar </button>
        </div>
      </div>
    </form>

    <h2>📝 Tus reservas </h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-container">
        <div class="form-row">
          <label>MÁQUINA : {{ booking.machine.name }}</label>
        </div>
        <div class="form-row">
          <label>BLOQUE : {{booking.slot}}</label>
        </div>
      
      <div class="form-row">
        <button type="submit" name="action" value="cancel">cancelar</button>
      </div>

      </div>
    </form>

    <h2>🤖 Agenda una máquina</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-container">    
        <div class="form-row">
          <label for="slot">Qué máquina?:</label>
          <select name="machine" id="machine" required>
            {% for m  in machine%}<option>{{ m }}</option>{% endfor %}
          </select>
        </div>
        
        <div class="form-row">
          <label for="slot">Qué bloque?:</label>
          <select name="slot" id="slot" required> <!-- JavaScript --> </select>
        </div>

        <div class="form-row">
          <button type="submit" name="action" value="book">AGENDAR</button>
        </div>
      </div>
    </form>

    <h2>⚠️ Reporta un problema </h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-container">
      </div>
    </form>

    <form method="post">
      {% csrf_token %}
      <button type="submit" name="action" value="logout">SALIR</button>
    </form>
</html>