body {
    font-family: monospace;
    background-color: rgb(187, 187, 187);
}

.form-row {

    flex-direction: column;
    flex: 1;
}

.form-row label {
    background-color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding:10px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
