{% extends "base.html" %}

{% block title %}login{% endblock %}

{% block content %}
    <h2>👋🏽 Hola vecin@</h2>
        
    <form method="post">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-row"><label for="usernameLabel" id="usernameLabel">{{ "👤 usuario" }}</label>{{ form.username }}</div>
            <div class="form-row"><label for="passwordLabel" id="passwordLabel">{{ "🔑 contraseña" }}</label>{{ form.password }}</div>
        </div>
        
        <div class="form-row">
            <button type="submit" name="action" value="cancel" class="button-edit">OK</button>
        </div>
    </form>
{% endblock %}
