{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/styles.css' %}">
    <script src="{% static 'login/script.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

</head>
<body>
    <header>
        <nav>
            <!-- Your site's navigation menu goes here -->
        </nav>
    </header>
    
    <main>
        <!-- Content from child templates will be inserted here -->
        {% block content %}

        
        {% endblock %}
    </main>
    
    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>
</html>
