body {
    font-family: monospace;
    background-color: rgb(187, 187, 187);
}

.body-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }

.main-header {
    color: #262626ff;
    padding: 4px 4px;
    background-color: white;
}

.form-row {
    padding: 8px 0px;
}

.flex-container {
    justify-content: space-between;
    align-items: center;
}

.main-section-container {
    width: 80%;
    align-items : center;

}

.form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #262626ff;
    border: 1px solid #262626ff;
    border-radius: 10px;
    padding: 8px 8px;
}

.form-text {
    padding: 4px 4px;
    font-size: 110%;
    
}

.button-edit {
    background-color: #666666ff;
    box-shadow: 4px 4px 1px #262626ff;
    font-family: monospace;
    font-weight: bold;
    color: white; 
    padding: 8px 10px;
    border-radius: 5px;
    border-width: 0;
   
}

.button-edit:hover {
    background-color: white;
    box-shadow: 4px 4px 4px #666666ff;
    color: #262626ff;
}

.username-input {
    border: 1px solid #ccc;
    padding: 5px;
    background: #262626ff;
}

.button-edit:hover + .form-container .form-row label {
    background-color: white;
    color: #262626ff;
}

.hovered {
    background-color: white;
    color: #262626ff;
}